<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="./styles/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/login.css">
    <% if(locals.displayErrorMessage) { %>
        <script src="./js/bootstrap.min.js"></script>
    <% } %>
<body>
<!-- These two inputs are there only for autocomplete issues from google.... -->
<input style="display:none">
<input type="password" style="display:none">

<% if(locals.displayErrorMessage) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>ERROR!</strong> Username or password isn't correct!

        <button type="button" class="btn-close" data-bs-dismiss="alert" ></button>
    </div>
<% } %>

<div class="box">
    <form autocomplete="nope" action="/login" name="loginForm" id="loginForm" method="post">
        <h2>Sign in</h2>
        <div class="inputBox">
            <input type="text" required="required" id="username" name="username" autocomplete="new-password" value="<%- locals.username %>">
            <span>Username</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" required="required" id="password" name="password" autocomplete="new-password" value="<%- locals.password %>">
            <span>Password</span>
            <i></i>
        </div>
        <div class="links">
            <a href="#">Forgot Password ?</a>
            <a>Signup</a>
        </div>
        <input type="submit" value="Login">
    </form>
</div>
</body>
</html>