<!doctype html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="./styles/register.css">
</head>
<body>
<div class="box">
    <form action="/register" method="post" name="registerForm">
        <h2>Register</h2>
        <div class="inputBox">
            <input type="text" required="required" id="username" name="username" autocomplete="username" value="<%= locals.username %>">
            <span>Username</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="text" required="required" id="email" name="email" autocomplete="email" value="<%= locals.email %>">
            <span>Email</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" required="required" id="password" name="password" autocomplete="password" value="<%= locals.password %>">
            <span>Password</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" required="required" id="passwordConfirmation" name="passwordConfirmation" autocomplete="passwordConfirmation" value="<%= locals.passwordConfirmation %>">
            <span>Password Again</span>
            <i></i>
        </div>
        <div class="links">
            <a href="/forgotpass">Forgot Password ?</a>
            <a href="/login">Login</a>
        </div>
        <input type="submit" value="Register">
    </form>
</div>
</body>
</html>